div.bar1 {
    background-image: url('../img/osehi2.png');
    background-color: grey;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    min-height: 650px;
    border-right:2px solid goldenrod;
}

div.bar2 {
    background-image: url('../img/code-coder-coding-270348new\ copy.jpg');
    background-color: goldenrod;
    background-size: cover;
    background-position: center;
    background-attachment: local;
    background-repeat: no-repeat;
    min-height: 650px;
}

.first {
    color: khaki;
}

 hr {
    border: 2px solid khaki;
    border-bottom: 1px solid rgba(14, 160, 99, 0.5);
    width:50%;

}

.first h3 {
    text-align: center;
}

.first p {
    text-align: center;
    font-size: 20px;
}